@model IEnumerable<TC.DomainModels.Models.Locker>

@{
    ViewData["Title"] = "Lockers";
}

<h1>Lockers</h1>

<p>
    Your locker is assigned to you as well as your ID when you join or club. So here you can track with your ID, your locker status.
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                Rented from
            </th>
            <th>
                Rented until
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentedFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentedUntil)
            </td>
        </tr>
}
    </tbody>
</table>
