<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/71171317-719f-4002-b387-dcac1d5b3902/resourceGroups/GeneralFleksibt/providers/Microsoft.Web/sites/FleksbitPortal</ResourceId>
    <ResourceGroup>GeneralFleksibt</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://fleksbitportal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>abb873c4-bd7c-4300-83ae-709bd8b18111</ProjectGuid>
    <PublishUrl>https://fleksbitportal.scm.azurewebsites.net/</PublishUrl>
    <UserName>$FleksbitPortal</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>