@model IEnumerable<TC.DomainModels.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Start date and time</th>
            <th>End date and time</th>
            <th>Court ID</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.DateAndStartTime</td>
            <td>@item.DateAndEndTime</td>
            <td>@item.CourtId (visit <a asp-action="Index" asp-controller="Courts">Courts</a>)</td>
        </tr>
}
    </tbody>
</table>
