@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zaboravljena lozinka?";
}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
</head>

<h1>@ViewData["Title"]</h1>
<h4>Unesite svoju e-mail adresu.</h4>
<hr />
<div class="row">
    <div class="col-md-4 animated bounceInLeft">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-info">Pošalji</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
