@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Zaboravljena lozinka potvrda";
}

<h1>@ViewData["Title"]</h1>
<p>
    Ukoliko postoji račun, na uneseni e-mail će vam stići poveznica za ponovno postavljanje lozinke.
</p>

