@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potvrđena promjena lozinke";
}

<h1>@ViewData["Title"]</h1>
<p>
   Vaša lozinka je promijenjena. Kliknite na  <a asp-page="./Login">poveznicu kako bi se ulogirali</a>.
</p>
